# Godot temporary files & exports
.godot/
*.import/
client_and_studio/bin/

# Node.js dependencies, environment, & logs
node_modules/
npm-debug.log*
.env
*.env

# Python cache & environment
__pycache__/
*.py[cod]
.venv/

# System & Editor files
.DS_Store
.vscode/
.idea/

# Android & Linux build templates & binaries (>100MB GitHub limit)
*.aar
*.apk
*.x86_64
bin/
client_and_studio/android/build/libs/
client_and_studio/android/build/build/
client_and_studio/android/build/.gradle/
web_backend/public/downloads/*.apk
web_backend/public/downloads/*.x86_64
web_backend/public/downloads/*.aab
